---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.5
  - 2.6
  - ruby-head
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
before_install:
  - gem update --system
  - gem install bundler
install:
  - bundle install --jobs=3 --retry=3
script:
  - bundle exec rspec
  - bundle exec rubocop
  # - bundle exec fasterer
