---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.5
  - 2.6
  - ruby-head
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
before_install:
  - gem update --system
  - gem install bundler -v 2.0.1
install:
  - bundle install --retry 3 --jobs 8
script:
  — bundle exec rspec
  # — bundle exec fasterer
